h1 
{
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2
{
    color: blueviolet; text-decoration: underline; font-family: Arial, Helvetica, sans-serif;
}